<div class="card">
    <mat-card class="post">
        <form [formGroup]="postingForm" (ngSubmit)="submitPost()">
            <div id="title-with-button">
                <p class="title">Whats on your mind?</p>
                <button mat-raised-button color="primary" type="submit">
                    <mat-icon aria-hidden="false" aria-label="comment">send</mat-icon>
                </button>
            </div>

            <hr />
            <mat-form-field id="postContent" appearance="outline">
                <textarea matInput id="email" type="text" formControlName="postContent"></textarea>
            </mat-form-field>
        </form>
    </mat-card>
</div>
<div *ngIf="posts.length <=0">
    <mat-card class="post">
        <p>Be the first to post something now!</p>
    </mat-card>
</div>
<div class="card" *ngFor="let post of posts">
    <mat-card class="post">
        
        <div id="title-with-button">
            <p (click)="navToProfile(post.Author._id)" class="title">{{post.Author.FirstName}} {{post.Author.LastName}}
            </p>
            <p></p>
            <button *ngIf="post.Author._id == user._id" mat-icon-button [matMenuTriggerFor]="menu"
                aria-label="more menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="deletePost(post._id!)" mat-menu-item>delete</button>
                <button mat-menu-item>edit</button>
            </mat-menu>
        </div>
        <p class="timestamp">{{post.createdAt | date:'mediumDate'}}</p>
        <hr />
        <p class="content">{{post.Content}}</p>
        <hr />
        <ul class="buttonlist">
            <li>
                {{post.Likes?post.Likes.length:0}} likes
            </li>
            <li>
                <button mat-icon-button (click)="toggleLike(post._id!)">
                    <mat-icon [ngClass]="{'liked': didILikeIt(post.Likes!)}" aria-hidden="false" aria-label="like">
                        thumb_up</mat-icon>
                </button>

            </li>
            
            <li>
                <button mat-icon-button>
                    <mat-icon aria-hidden="false" aria-label="comment">comment</mat-icon>
                </button>

            </li>
        </ul>
    </mat-card>
</div>

     
