<div class="card">
  <mat-card class="companyProfile">
    <div id="name-with-button">
      <p id="name">{{company.Name}}</p>
      <p></p>
      <button *ngIf="user.Role.Name=='Superadmin'" (click)="openCompanyDialog()" mat-icon-button aria-label="edit">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <p id="address">{{company.Address}}</p>
    <hr>
    <p id="description">{{company.Description}}</p>

  </mat-card>
  <div id="table">
    <h2>All colleagues</h2>
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let row"> {{row.Role.Name}} </td>
      </ng-container>
      <ng-container matColumnDef="Edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let row">
          <button *ngIf="row._id!=user._id" (click)="openUserDialog(row._id)" mat-icon-button aria-label="edit">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div *ngIf="user.Role.Name=='Superadmin' || user.Role.Name=='Beheerder'">
    <h2>Invite new users</h2>
    <mat-card class="companyProfile">
      <div *ngFor="let user of usersNoComp">
        <div id="name-with-button">
          <h3>{{user.FirstName}} {{user.LastName}}</h3>
          <p></p>
          <button (click)="addToCompany(user._id)" mat-icon-button aria-label="edit">
            <mat-icon>mail</mat-icon>
          </button>

        </div>
        <hr>
      </div>



    </mat-card>
  </div>

</div>