#name-with-button {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    p {
        margin-top: 10px;
    }
}
#companyProfile {
    margin: 5vh auto;
    width: 85%;
    max-width: 500px;
}
